.p{
  font-family: Arial;
  margin-top: 0px;
  margin-bottom: 0px;
}
body{
  margin: 0;
  padding-top: 80px;
  padding-left: 96PX ;
  padding-left: 24px;
  background-color: rgb(224, 215, 215);
  margin-left: 59px;
}